.MetricsPage {
    width: 100vw;
    height: 100vh;
}

.MainPartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}

.MetricsMainBlock{
    min-width: 30%;
    min-height: 20vh;

    padding: 2vh 2vw;
    margin: 2vh 4vw;

    display: flex;
    flex-direction:column;
    justify-content: space-between;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.MetricsMainBlock:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.BottomPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CheckboxContainer {
    display: inline-block;
    cursor: pointer;
    list-style-position:inside;
}

.CheckboxContainer > input, .CheckboxContainer > label {
    cursor: pointer;
    font-size: 0.7em;
}

.AllMetricsHeader {
    font-size: 0.9em;
    font-weight: normal;
    margin: 0;
}

.ListOfAllMetrics {
    padding: 0;
    margin: 0 0.2em 1.5em 0;
    box-sizing: border-box;


    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    max-height: 50vh;
}

.MetricsLabel {
    margin-left: 0.1em;
}

.ButtonContainer {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}

.MetricsCheckArea {
    display: block;
    box-sizing: border-box;
}

.MetricsHeader {
    margin: 0.1vh 0;
    font-size: 1.3em;
    color: var(--main-color);
}

.NewMainBlock{
    min-width: 85%;
    min-height: 20vh;
    max-height: 70vh;

    position: relative;

    padding: 2vh 2vw;
    margin: 2vh 4vw;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.NewMainBlock:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.TopPart {
    margin-bottom: 1em;
}