:root{
  --main-color: rgb(47,128,237);
}

body {
  margin: 0;
  font-family: "MPLUSRounded", serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "MPLUSRounded";
  src: url("./fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}